html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #242933;
  color: #d8dee9;
  font-family: 'Verdana', sans-serif;
}

a {
  color: #7f9fbf;
}
a:visited {
  color: #b48ead;
}

h1 {
  color: #88c0d0;
}
h2 {
  color: #ebcb8b;
  font-size: 20px;
}

.container {
  background-color: #2e3440;
  max-width: 800px;
  margin: 10px;
  padding: 40px 20px;
}

.title {
  margin: 0 0 24px;
}

.recipes {
  margin: 0;
  padding: 0;
}

.recipes li {
  display: inline-block;
  margin: 20px 10px;
  a {
    background-color: #3b4252;
    border: 1px solid #242933;
    font-weight: bold;
    padding: 10px 20px;
  }
}

.centered {
  text-align: center;
}

.bright {
  color: #e5e9f0;
}
